<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adprojectteam1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ClerkDisbursementListActivity"></activity>
        <activity android:name=".RepresentativeDisbursementActivity" />
        <activity android:name=".ApproveRequestActivity" />
        <activity android:name=".CancelDelegateEmployeeActivity" />
        <activity android:name=".DeptManagerHomeActivity" />
        <activity android:name=".DelegateEmployeeListActivity" />
        <activity android:name=".DelegateNewEmployeeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>